<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DentistApplication"
        tools:targetApi="31">

        <!-- DaySelectionActivity tanımı -->
        <activity
            android:name=".DaySelectionActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorListActivity"
            android:exported="true" />

        <!-- ConfirmationActivity tanımı -->
        <activity
            android:name=".ConfirmationActivity"
            android:exported="true" />

        <!-- MainActivity tanımı -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
